:root {
    /* 100% Opacity Colors */
    --white-full: #FFFCFC;
    --black-full: #000000;
    --pink-full: #CC6D8A;
    --dark-pink-full: #A04D69;
    --green-full: #11451F;
    --light-green-full: #416A53;
    --grey-transparent: #D9D9D900; /* 0% opacity */
    --light-pink-full: #F6DDDD;
    --very-light-pink-full: #FAEAEA;
  
    /* 80% Opacity Colors */
    --white-80: rgba(255, 252, 252, 0.8); 
  }

  #tagline {
    background-color: var(--white-80);
  }