/*@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');*/

@import url(https://fonts.bunny.net/css?family=inria-sans:300|inria-serif:300,400,700);

:root {
  /* 100% Opacity Colors */
  --off-white-full: #FFFCFC;
  --black-full: #000000;
  --pink-full: #CC6D8A;
  --dark-pink-full: #A04D69;
  --red-full: #c83d3d; 
  --light-red-full: #eb5454; 
  --green-full: #11451F;
  --light-green-full: #416A53;
  --grey-transparent: #D9D9D900;
  /* 0% opacity */
  --light-pink-full: #F6DDDD;
  --very-light-pink-full: #FAEAEA;

  /* 80% Opacity Colors */
  --off-white-90: rgba(255, 252, 252, 0.9);
}

/*----------------------------------------all pages---------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*all general text in Inria Sans, base font size 20px*/
  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
}

body {
  background-color: var(--off-white-full);
}

/*all headings in inria serif*/
h1 {
  font-family: 'Inria Serif', serif;
  font-weight: 700;
  font-size: 4.5rem;
  font-size: 12vmin;
  color: var(--grey-transparent);/* Make the inside transparent */
  -webkit-text-stroke: 0.1rem var(--dark-pink-full);/* Outline color and thickness */
}
h2 {
  font-family: "Inria Serif", serif;
  font-weight: 400;
}
h3 {
  font-family: "Inria Serif", serif;
}
/*footer on every page*/
footer p {
  color: var(--light-green-full);
  text-align: center;
  margin: 0.5rem 0;
}
footer p::first-letter {
  color: var(--green-full);
  font-weight: bold;
}


/*---------------------------------------------Header, on every page --------------------------------------*/
#titleBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-full);
  padding: 0 1rem;
  color: var(--off-white-full);
  height: 2rem;
}

#headerButtons, #siteName {
  display: flex;
  align-items: center;
  height: 100%;
}

#siteName h2 {
  padding: 0px 10px;
  font-size: 1.5rem;
}

#siteName img {
  height: 70%;
}

.bannerButton {
  text-decoration: none;
  color: var(--off-white-full);
  padding: 0 25px;
  background-color: var(--green-full);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bannerButton:hover {
  background-color: var(--light-green-full);
  /* pale green on hover */
}

.currentPage {
  background-color: var(--light-green-full);
  /* pale green when on current page */
}


/*---------------------------------------------INDEX.HTML specific --------------------------------------*/
#homeBG {
  background: url('../images/calladiums-1-bg.jpg') no-repeat center center;
  background-size: cover;
  height: calc(100vh - 2rem);
  /* Full screen( minus the header height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#tagline {
  text-align: center;
}

#tagOutline {
  width: 100%;
  height: 100%;
  border: 0.1rem solid var(--pink-full);
  display: flex;
  justify-content: center;
  align-items: center;
}

#tagContainer{
  background-color: var(--off-white-90);
  width: 70%;
  height: 70%;
  padding: 1.5rem;
}

/*---------------------------------------------SERVICES.HTML specific --------------------------------------*/
/*General styling for sections with image plus text*/
.offers {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--off-white-full);
}

.imageSection img{
  border-radius: 50%;
  max-width: 20vw;
  height: auto;
}

/*What We Offer section*/
#offerContainer{
  background-color: var(--light-pink-full);
}

#offerFigure {
  padding-left: 1rem;
  padding-right: 2rem;
  margin-left: auto;
  position:relative;
  display: flex;
  flex-direction: column;
}

#offerImage {
  max-width: 30vw;
  height: auto;
}

#offerImageCaption {
  position: absolute;
  bottom: -2rem;
  border: #416A53 0.1rem solid;
  box-shadow: 0.5rem 0.5rem var(--light-green-full);
  background-color: #FFFCFC;
  color: #11451F;
  font-family: 'Inria Serif', 'Times New Roman', Times, serif;
  padding: 0.5rem 1.5rem;
  text-align: center;
}

#offerContentSection {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

#offerContentSection h1 {
  text-align: center;
}

#offerContentSection .buttonsContainer {
  /*properties as flex item of #offerContentSection*/
  flex-grow: 1;
  padding: 0 1rem;
  
  /*properties as flex container of individual buttons*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#offerContentSection .buttons {
  text-decoration: none;
  background-color: #FFFCFC;
  box-shadow: 0.5rem 0.5rem var(--off-white-full);
  font-family: 'Inria Serif', 'Times New Roman', Times, serif;
  text-align:center;
  color: var(--dark-pink-full);
  font-size: 1.5rem;
  border: var(--pink-full) 0.1rem solid;
  margin: 1rem;
  padding: 1rem;
}

#offerContentSection .buttons:hover {
  background-color: var(--very-light-pink-full);
  box-shadow: 0.5rem 0.5rem var(--dark-pink-full);
  border: var(--dark-pink-full) 0.1rem solid;
}

/*Offers Details section*/
.contentSection{
  width: 30%;
  margin-left: 2em;
  }

#partyContainer {
  background-color: #FFFCFC;
}

hr {
  width:70%;
  height:0.1rem;
  background-color: var(--pink-full);
  border: none;
  margin-left:auto;
  margin-right:auto;
}

/*prices table section*/
#priceContainer {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*height: 60em;*/
  background-color: var(--light-pink-full);
}

#pricingTableContainer {
  width: 70%;
  height: 70%;
  padding: 1.5rem;
  background-color: var(--off-white-full);
}

#pricingTableBorder {
  border: 0.1rem solid var(--pink-full);
  padding: 0 5%;
}

.pricingTable {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}

#pricingTableHeading {
  font-family: 'Inria Serif', serif;
  font-weight: 700;
  font-size: 4.5rem;
  font-size: 12vmin;
  color: var(--grey-transparent);/* Make the inside transparent */
  -webkit-text-stroke: 0.1rem var(--dark-pink-full);/* Outline color and thickness */
  text-align: center;
}

.pricingTable td{
  padding: 0.5rem 1rem;
  width: 50%;
}

tr:nth-child(even) {
  background-color: var(--very-light-pink-full);
}

/*Call to Action/Contact Us Section*/
#contactBG {
  height: 100vh;
  background-image: url(../images/calladiums-2-bg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contactBG h2 {
  visibility: hidden;
  position: absolute;
}

#contactContainer {
  width: 50%;
  height: 60%;
  padding: 4%;
  background-color: var(--off-white-90);
  border-radius: 3rem;
}

#contactContainer:hover {
  background-color: var(--off-white-full);
}

#contactContainer a:hover {
  color: var(--pink-full)
}

#contactContainer a {
  text-decoration: none;
  color: var(--dark-pink-full);
}

#contactText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#contactContainer p {
  font-family: "Inria Serif", 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
}

#contactContainer p:nth-child(2) {
  font-weight: 600;
  font-size: 4rem;
  font-style: normal;
}

#contactBG img {
  height: 50px;
  width: auto;
}

#contactBG #rightImg {
  float: right;
}
#contactBG #leftImg {
  float: left;
}

/*---------------------------------------------CONTACT.HTML specific --------------------------------------*/
body#contact-page {
  background-color: var(--light-pink-full);
}
.contact-container {
  background-color: var(--off-white-90);
  padding: 2rem;
  margin: 2rem auto;
  max-width: 70%;
  border: 0.1rem solid var(--pink-full);
  accent-color: var(--pink-full);
}

.contact-container input[type="checkbox"],
.contact-container input[type="radio"] {
  margin: 0 0.5rem;
}

.contact-container input[type="text"]:focus,
.contact-container input[type="email"]:focus,
.contact-container input[type="number"]:focus,
.contact-container input[type="tel"]:focus, 
.contact-container input[type="radio"]:focus,
.contact-container input[type="checkbox"]:focus,
.contact-container textarea:focus, 
.contact-container select:focus {
  outline: none;
  background-color: var(--very-light-pink-full);
  box-shadow: 0.2rem 0.2rem var(--dark-pink-full);
}

.contact-container input[type="checkbox"]:focus,
.contact-container input[type="radio"]:focus {
  box-shadow: 0.2rem 0.2rem var(--dark-pink-full);
  accent-color: var(--pink-full);
} 

.contact-container input[type="text"]:hover,
.contact-container input[type="email"]:hover,
.contact-container input[type="number"]:hover,
.contact-container input[type="tel"]:hover, 
.contact-container input[type="radio"]:hover,
.contact-container input[type="checkbox"]:hover,
.contact-container textarea:hover, 
.contact-container select:hover {
  box-shadow: 0.2rem 0.2rem var(--dark-pink-full);
  accent-color: var(--pink-full);
}

.contact-container h1 {
  text-align: center;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container label {
  font-weight: bold;
  margin-top: 0.5rem;
  color: var(--dark-pink-full);
}

label.formField {
  padding: 0.2rem 0;
  /*color: blue;*/ /*diagnostic colour, i'm not sure why this isn't overwriting the colour set in the declaration above*/
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container input[type="number"],
.contact-container input[type="tel"],
.contact-container textarea,
.contact-container select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 0.1rem solid var(--dark-pink-full);
  background-color: var(--off-white-full);
  font-size: 1rem;
}

.contact-container #service {
  margin-bottom: 1rem; 
}

.contact-container textarea {
  resize: vertical;
}

.contact-container fieldset {
  border: 0.1rem solid var(--pink-full);
  padding: 1rem;
  margin-bottom: 1rem;
}

.contact-container fieldset legend {
  font-family: 'Inria Serif', serif;
  font-size: 1.5rem;
  color: var(--pink-full);
  padding: 0 0.5rem;
}

/*Send Message button*/
.contact-container button[type="submit"] {
  display: inline;
  background-color: var(--green-full);
  color: var(--off-white-full);
  border: none;
  margin: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0.3rem;
  align-self: center;
  width: 50%;
}

.contact-container button[type="submit"]:hover {
  background-color: var(--light-green-full);
}

/*Reset Form button*/
.contact-container button[type="reset"] {
  display: inline;
  background-color: var(--red-full);
  color: var(--off-white-full);
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0.3rem;
  align-self: center;
  width: 50%;
}

.contact-container button[type="reset"]:hover {
  background-color: var(--light-red-full);
}

